@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Macondo', cursive;
    font-family: 'Pacifico', cursive;
};

body{
    width: 100%;
}

header{
    width:100%;
    height: 20vh;
    background-color:#800080;
    display:flex;
    justify-content:space-between; 
    align-items:center;   
    
}

.logo{
    width:8%;
    margin-left:2em;
    border-radius:20%;
}

nav{
    width: 40em;

}

ul{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    font-size: 2rem;
    color:white;
    list-style: none ;
}
li:hover{
    color:orange;
    cursor:pointer;
}


.cards{
    padding-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.informacoes{
    padding-top: 2rem;
    border-radius: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: chartreuse;
}
p{
    color: white;
    font-size: 25px;
}

.card{
   width: 15vw;
   height: 45vh;
    background-color: rgb(167, 36, 167) ;
    border-radius:18px;
}

@media (max-width:768px){
    header{
        width: 100%;
        height: 40vh;
        display: flex;
        justify-content: space-evenly;    
}
    .logo{
        width: 50%;
    }
    ul{
    width: 80%;
    display:flex;
    justify-content:space-evenly;
    font-size: 3rem;
    }
}

@media (max-width:768px){
    .informacoes{
        display: flex;
        width: 50%;
          flex-wrap: wrap;
}
    
}